<header>
	<!-- Main logo and img box -->
	<section id="logo_container" class="clearfix">
		<img id="logo_img" src="<%= asset_path "beanie.png" %>" alt="Main logo">
		<div class="logo_right_container">
			<h1 id="logo_title">Binny K</h1>
			<h4 id="logo_subtitle">Full stack beanie developer</h4>
		</div>
	</section>
</header>

<!-- Horizontal line for spacing -->
<hr id="horizontal">

<section class="projects">
	<section class="project_container clearfix">
		
		<div class="project_img_container">
			<a href="https://binnyk.github.io/cfa-ex-grav_design/">
				<img src="<%= asset_path "grav_ss.png" %>" alt="grav redesign site">
			</a>
		</div>
		
		<div class="project_info_container">
			<ul class="project_tag_container">
				<li class="project_tag t_bootstrap">Bootstrap</li>
			</ul>
			<a href="https://binnyk.github.io/cfa-ex-grav_design/"><h2 class="project_header">Grav Design</h2></a>
			<p class="project_desc">Coding the Grav website based on a png design file. This site is responsive and was built using Bootstrap, Sass and Jade/Pug. </p>
		</div>
	</section>
</section>

<section class="projects">
	<section class="project_container clearfix">
		<div class="project_img_container">
			<a href="https://binnyk.github.io/cfa-ex-grav_design/">
				<img src="<%= asset_path "portfolio_ss.png" %>" alt="portfolio image">
			</a>
			<img src="<%= asset_path "portfolio_ss.png" %>">
		</div>
		<div class="project_info_container">
			<ul class="project_tag_container">
				<li class="project_tag t_sass">Sass</li>				
			</ul>
			<a href="https://binnyk.github.io">	
				<h2 class="project_header">Portfolio</h2>
			</a>
			<p class="project_desc">Portfolio website listing personal projects. The site primarily focuses on displaying recent projects with a link to the code and documentation on github. An additional goal of the portfolio was to understand css better so no frontend framework was used.</p>
		</div>
	</section>
</section>

<section class="projects">
	<section class="project_container clearfix">
		<div class="project_img_container">
			<img src="<%= asset_path "test_img3.png" %>">
		</div>
		<div class="project_info_container">
			<ul class="project_tag_container">
				<li class="project_tag t_bootstrap">Bootstrap</li>
				<li class="project_tag t_node">Node</li>
			</ul>
			<h2 class="project_header">Crapola</h2>
			<p class="project_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quaerat suscipit, quae, id in atque sint velit quasi provident ratione eligendi quas accusamus repellendus corporis animi iure voluptatibus nesciunt expedita nihil eum at vero nisi omnis, illum, itaque. Non, ratione!</p>
		</div>
	</section>
</section>

<!-- Horizontal line for spacing -->
<hr id="horizontal2">

<section id="footer" class="clearfix">
	<a href="/about">
		<img src="<%= asset_path "wizard.png" %>" alt="wizard" class="footer_wizard">
		<div class="footer_about">
			<p>About</p>
		</div>
	</a>
</section>















<!-- ROom to type -->